/* ------- ALL PAGES ------- */

/* GENERAL */

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* HEADER CONTENT */

header {
    text-align: center;
    background-color: lightskyblue;
    display: inline-block;
    width: 100%;
}

/* NAVIGATION */

nav {
    display: inline-block;
    width: 100%;
    background-color: gray;
}

.topnav {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.topnav a {
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    color: white;
}

.topnav a:hover {
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 5px white;
    color: black;
}

/* MAIN BODY */

main {
    background-color: lightblue;
    display: inline-block;
    width: 100%;
    
}

.main-content {
    margin: 20px;
}

/* FOOTER CONTENT */

footer {
    background-color: lightskyblue;
    display: inline-block;
    width: 100%;
}

.footer-content {
    margin: 20px;
}

/* ------- HOME PAGE ------- */

.top-page-img {
    width: 30%;
    display: inline-block;
    float: right;
    text-align: center;
    margin: 0px 0px 20px 20px;
    border: 1px solid black;
    border-radius: 10%;
    
    img {
        width: 80%;
        display: inline-block;
        margin: 20px;
    }

    p {
        width: 80%;
        display: inline-block;
    }
}

/* ------- PAGE/CONTENT IMAGES ------- */

.content-img {
    width: 30%;
    display: inline-block;
    float: right;
    text-align: center;
    margin: 0px 0px 20px 20px;
    border: 1px solid black;
    border-radius: 10%;
    
    img {
        width: 80%;
        display: inline-block;
        margin: 20px;
    }

    p {
        width: 80%;
        display: inline-block;
    }
}

/* RESPONSIVES */

@media (max-width: 600px) {
    
    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .topnav a {
        width: 95%;
        padding: 10px 0px 10px 0px;
        margin: 0;
        text-align: center;
    }
}
